*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #db76a5 0%, #6991db 100%);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 2rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #c7d134;
    background: #055966;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #6991db;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
   min-width: 30%;
   list-style: none;
}

.todo{
    margin: 0.5rem;
    background: whitesmoke;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.todo li{
    flex: 1;
}
 
.trash-button,
.complete-button{
    background: #6991db;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.trash-button{
    border-top-right-radius: 1rem;
}

.complete-button{
    background: #49da3c;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-check,
.fa-trash{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(7rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: black;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #c7d134;
    top: 0;
    right: 0;
    padding: 1rem;
}

.select:hover::after{
    background: white;
    color: rgb(121, 39, 7);
}